.Stroke {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: black;
}

.icon:hover {
  color: #00ff7f;
}
