/* #main {
  background-image: url("https://res.cloudinary.com/dv8nczwtj/image/upload/v1687537972/Portfolio/backgroundGradientIndex.webp");
  background-size: cover;
  background-repeat: no-repeat;
} */
