.hero-background {
  background: linear-gradient(
      to bottom,
      theme('colors.black') 100px,
      transparent 100px,
      transparent calc(80vh - 40px),
      theme('colors.black') calc(80vh - 40px)
    ),
    linear-gradient(
      to right,
      theme('colors.black') 24px,
      transparent 24px,
      transparent calc(100% - 24px),
      theme('colors.black') calc(100% - 24px)
    );
}

.window-mask {
  mask-image: linear-gradient(black, black), url('../../assets/window.svg');
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 150px auto;
  mask-position: center center, center right 2rem;
}

@media (max-width: theme('screens.md')) {
  .window-mask {
    mask-size: auto, 150px auto;
    mask-position: center center, center bottom 2rem;
  }
}

.btnDownload {
  box-shadow: 3px 5px 0px 3px #00ff7f;
  -webkit-box-shadow: 3px 5px 0px 3px #00ff7f;
  -moz-box-shadow: 3px 5px 0px 3px #00ff7f;
}
